@media only screen and (max-width: 900px){
  .secao__metodologia{        
    
    height: 100vh;
    
  }
  .secao__metodologia__valores{ 

      bottom: 100px ;
      gap: 40px;
      padding: 0 30px;
}
  

} 

@media only screen and (max-width: 600px) {

  .secao__metodologia{

      height: 70vh;
      
 
  }
  .secao__metodologia__conteudo {
     padding: 0 20px;
  }

  .secao__metodologia__conteudo__titulo {
      font-size: 30px;
  }

  .secao__metodologia__conteudo__descrição {
      font-size: 15px;
      
  }
}



@media only screen and (max-width: 768px) {
  .secao__metodologia__valores {
      position: relative;
      bottom: 40px;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 0 20px;
      margin: 0 ;
     
  }


  .secao__metodologia__valores__cards{

    max-width: 500px;
    margin: 0 auto;

  }
}


@media only screen and (max-width: 500px){

  .secao__metodologia{        
    height: 170vh;
  }
  


  .secao__metodologia__conteudo{
    padding: 0;
  }

  .secao__metodologia__conteudo--mascara{

    padding-left: 20px;

  }

  .secao__metodologia__conteudo__descrição{

    max-width: 300px;
    font-size: 1em;
  }

  .secao__metodologia__valores{ 

    position: absolute;
    bottom: 0;
  
    display: grid;
    grid-template-columns:  1fr;
    gap: 40px;
    padding: 0;
  
  }
  .secao__metodologia__valores__cards{
    width: 80%;
    margin: 0 auto;

  }
}