.cabecalho__pagina{
    width: 100vw;
    overflow-x: hidden; /* Adicionado para remover o scroll lateral */
}

.nav__bar{

    
    width: 100%;
    /* definir um padding para menu caso a logo seja alterada  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color__background);


}

.nav__bar__lista{

    width: 40%;
    display: inherit; /* pega a propriedade display do nav__bar */
    justify-content: space-around;
}

.nav__bar__lista__iten > a{
    position: relative;
    
    font-family: var(--font__popins);
    font-weight: 600;
    text-transform: uppercase;

    color: var(--color__texto1);

    text-decoration: none;
}

.nav__bar__lista__iten > a::after{
    
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #D31D4E;  
    transition: 0.4s ease-in-out;
}

.nav__bar__lista__iten > a:hover::after{
    width: 100%;
}



.nav__bar__butom{
    display: none;
    
}