@media (max-width: 900px) {

    .nav__bar__lista{

        background-color: var(--color__background);

        visibility: hidden;
        width: 100%;
       
        position: absolute;
        top: 90px;
        right: 0px;

        text-align: center;

        flex-direction: column;
        align-content:space-around;

        height: 0;
        overflow-y: hidden;
        transition: .3s ease-in-out;

        z-index: 1;

        overflow: hidden;
        
    }
   
    
    .nav__bar__butom{


        display: block;
        padding-right: 1.9em;

    }

    .nav__bar__responsivo{
        visibility: visible;
        height: 200px;

    }
}