
.baner__apresentação__geral{
    padding-left: 80px;
    font-family: var(--font__lato);
    width: 100%;

}

.baner__apresentação__conteudo{
    height: 84vh ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
}


.baner__apresentação__conteudo > h2{
    font-size: 70px;
}

.baner__apresentação__conteudo > h2 >span{
    
    font-family: var(--font__lato);
    display: block;
    font-size: 80px;
    font-weight: 800;

}

.baner__apresentação__descrição{
    margin-top: 30px;
    max-width: 500px;
}

.baner__apresentação__pseudo__botao > p{
    display: inline-block;
}

.baner__apresentação__pseudo__botao > p >a{
    display: inline-block;
    margin: 30px 30px 0 0;
    text-align: center;

    width: 150px;

    padding: 10px 0;

    font-size: 20px;
    font-weight: 600;
    color: black;
    
    border: 1px solid red;
    border-radius: 10px;

    cursor: pointer;

    transition: .3s ease-in-out;

    text-decoration: none;
    
}

.baner__apresentação__pseudo__botao > p > a:hover{
    color: white;
    background-color: red;
}

/* responsavel pelas imagens acionar quando estiver com imagens oficiais */
/* .carousel-item {
    background-image: url('../../imagens/DIA-DA-CIENCIA-E-DA-TECNOLOGIA.png');

    
    
  }

  .carousel-item:nth-child(2) {
    background-image: url('../../imagens/garota-em-laboratorio-fazendo-testes.jpg');
  }
  
  .carousel-item:nth-child(3) {
    background-image: url('../../imagens/jovem-aprendendo-sobre-ciencia-com-cientista-feminina.jpg');
  } */